body {
    background-image: url("images/1.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#create {
    width:100%;
    text-align: center;
}
#create div{
    width: 100%;
}

#inputRoomname ,#inputusername, #inputimg{
    width:20%;
    margin-left: 40%;
}
#btnCreate, #create-btn{
    width:5%;
    padding-left: 0;
    padding-right: 0;
    margin: 1em 0 1em 0;
    font-weight:bold !important;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }


	/* create */



	#create {
		padding: 16em 0em 14em;
		text-align: center;
	}

		#create h2 {
			color: #ffffff;
			font-size: 3em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#create p {
			font-size: 1.5em;
			margin: 1.5em 0 0 0;
		}

		#create .actions {
			margin: 3em 0 0 0;
		}

		#create .button {
			background-color: transparent;
			border: 1px solid #ffffff;
			font-weight: 300;
		}

			#create .button:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}