body {
    background-image: url("images/1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
#header{
    width: 100%;

}
#leftbar{
    margin-top:20px;
    width: 15%;
    float: left;
}
#post_list{
    margin-top:75px;
    top:1%;
    width: 85%;
    height: 440px;
    float: right;
	overflow: auto;
}
.onlinelist{
	margin: 1em 1em 1em 1em;
	background:#6e6e6e;
	position: absolute;
	padding-left: 1em;
	padding-right: 1em;
}
.online{
	color:white;
}
#post_btn{
    position: absolute;
    right:15%;
}
#box{
    top:1%;
    width: 85%;
    margin: 2em 0 0 2em;
    float: right;
    background-color: rgba(144,144,144,0.2);
}

#userimg{
	margin-left: 48%;
	height: auto;
	width: 20%;
	border-radius: 50%;
    
}
#userimginpost{
	height: 50px;
	width: auto;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #272727; /* Blue */
	border-radius: 50%;
	margin-left: 48%;
	margin-top: 30px;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#mwt_mwt_slider_scroll
{
	top: 0;
	right:-360px;
	width:360px;
	position:fixed;
	z-index:9999;

}

#mwt_slider_content{
	background:#464646;
	text-align:center;
	padding-top:20px;
	overflow: hidden;
}

#mwt_fb_tab {
	position:absolute;
	bottom:300px;
	left:-24px;
	width:24px;
	background:#464646;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	padding:9px 0;

	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
}
#mwt_fb_tab span {
	display:block;
	height:12px;
	padding:1px 0;
	line-height:12px;
	text-transform:uppercase;
	font-size:12px;
}

#private_container{
	width: 27%;
	height:400px;
	background:rgba(24, 24, 24, 0.95);
	left: 5px;
	bottom: 0;
	position:fixed;
	display : none; 

	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}
#targetname{
	width: 100%;
	height: 30px;
	background:rgba(201, 201, 201, 0.8);
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}
#inputbox{
	width:100%;
}

#private{
	overflow: auto;
	width: 100%;
    height: 300px;
    float: right;
}
.private_list{
	width : 100%;
	margin: 0.2em 0.5em 0 0.5em;

}
	/* Menu  */

	#menu
	{
        margin-top:100px;
	}
	
	#menu ul
	{
	}
	
	#menu li
	{
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 1em 1em;
		text-align: center;
		text-decoration:  none;
		font-weight: 300;
		color: rgba(255,255,255,0.5);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item
	{
		background: #29b98e;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}